{% extends "base_template.html" %}

{% load bootstrap3 %}

{% block title %}
    Index
{% endblock %}

{% block content %}

    {% if logoutmsg%}
        <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-briefcase" aria-hidden="true">{{ logoutmsg }}</span>
        </div>
    {% endif %}

 <p class="help-text"> <h2> New User</h2></p>
  <div class="col-xs-6 col-sm-3 well">
    {% if msg%}
        <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-registration-mark" aria-hidden="true">{{ msg }}</span>
        </div>
    {% endif %}

      <form method="post" action="/user/register/" >
           {% bootstrap_form form layout='vertical' %}

          {% buttons submit='Register' reset='Cancel' layout='inline' %}{% endbuttons %}
          <div class="form-horizontal">

             <span class="help-block"> Existing User? <a href="{% url 'twitterclone.views.login' %}">Click here</a></span>
          </div>

  </form>

  </div>
   <div class=" container-fluid">
   <div class="col-md-4 col-sm-offset-1 well">
<h2> Search Users</h2>
      <form method="post" action="/search/" >`
          <div class="form-horizontal">
                <label for="username">Search Users</label>
                <input type="text" class="form-control" id="username" placeholder="Enter Username">
          </div> <br>


          <div class="form-horizontal">
             <button type="submit" class="btn btn-success">Submit</button>
          </div>

  </form>

       <form method="post" action="/search/" >
           {% bootstrap_form form layout='vertical' %}

          {% buttons submit='Register' reset='Cancel' layout='inline' %}{% endbuttons %}
          <div class="form-horizontal">

             <span class="help-block"> Existing User? <a href="{% url 'twitterclone.views.login' %}">Click here</a></span>
          </div>

  </form>



  </div>
   </div>  <!--container -->
</div>





{% endblock %}