{% extends "base_template.html" %}

{% load bootstrap3 %}

{% block title %}Tweets JSON{% endblock %}

{% block content %}

<div class="page-header">

         <button type="button" class="btn btn-warning"><a href="{% url 'twitterclone.views.index' %}">Search Another User / New User </a></button>
         <div class="form-horizontal">
             <span class="help-block"> Existing User? <a href="{% url 'twitterclone.views.login' %}">Click here</a></span>
         </div>

</div>

    {%if json_dict%}
   <div class="col-md-8">
    <h3> Tweets of {{ user }} (JSON Format)</h3>
      <div class="panel panel-primary">
         <div class="panel-heading">


                 <pre id="json">
            <p class="text-primary">{{ json_dict }}</p>
            </pre>

        </div>
      </div>
   </div>
    {%endif%}
  </div>

{% endblock %}