
{% extends 'base_template.html' %}

{% load bootstrap3 %}

{% block title %}
    New Post
{% endblock %}

{% block content %}

<p class="help-text"> <h2> New Tweet</h2></p>
  <div class="col-xs-6 col-sm-3 well">
    {% if msg%}
        <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-registration-mark" aria-hidden="true">{{ msg }}</span>
        </div>
    {% endif %}

      <form method="post" action="/user/new_message/" >
           {% bootstrap_form form layout='vertical' %}
          {% buttons submit='Tweet' reset='Cancel' layout='inline' %}{% endbuttons %}

      </form>

  </div>
    {% if url %}
     {{ url }}

        <!-- Checking images -->
    <div class="col-xs-6 col-sm-3 well">
    <h2> Image check</h2>
    <img src={{ url }} alt="Yes" class = "img-responsive">

    </div>
    {%  endif %}
{% endblock %}